@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "GetCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ad</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>

